<a href="https://colab.research.google.com/github/mohkharma/Credit-Card-Fraud-Detection-Using-Machine-Learning-Comparative-Study/blob/main/credit_card_fraud_detection_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Credit-Card-Fraud-Detection-Using-Machine-Learning-Comparative-Study**
Author: Mohammed Kharma, Feb-2023


This book is using the dataset taken from:

[Credit Card Fraud on Kaggle](https://www.kaggle.com/datasets/mlg-ulb/creditcardfraud)

-------------------------------------------------------------------

In [515]:
#Importing the required libraries:

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [516]:
#Read the dataset into DataFrame using pandas

credit_card_data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/creditcard.csv')

In [517]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [518]:
# head 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [519]:
# tail 5 rows of the dataset
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [520]:
# dataset description
credit_card_data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.168375e-15,3.416908e-16,-1.379537e-15,2.074095e-15,9.604066e-16,1.487313e-15,-5.556467e-16,1.213481e-16,-2.406331e-15,...,1.654067e-16,-3.568593e-16,2.578648e-16,4.473266e-15,5.340915e-16,1.683437e-15,-3.660091e-16,-1.227390e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [521]:
# missing values in each column check
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [522]:
# shape of the data
credit_card_data.shape

(284807, 31)

In [523]:
# legit and fraudulent transactions per class
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [524]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [525]:
# statistical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [526]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [527]:
# compare the values for both transactions so we can compare the generated sample from the legitmite df where it need to refelect relevint means
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 492

In [528]:
#legit_test = legit.sample(n=2000)
legit_test = legit.iloc[0:2001,0:32]
legit = legit.iloc[2002:,0:32]

In [529]:
from sklearn.utils import shuffle
legit_sample = legit.sample(n=492)

In [530]:
legit_sample.shape

(492, 31)

In [531]:
legit_test

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1998,1542.0,1.194910,0.093867,-0.073016,1.008538,0.454666,0.809557,-0.069582,0.219049,0.146503,...,-0.126805,-0.180904,-0.220110,-1.134723,0.779307,-0.257532,0.032098,-0.005676,13.08,0
1999,1542.0,-0.090760,0.430191,0.587889,-1.468904,0.315714,-0.765142,0.737765,-0.348267,-1.877661,...,0.238175,0.619908,-0.381979,-0.387806,0.492030,-0.078039,0.023719,0.036965,25.00,0
2000,1544.0,-0.781938,1.594474,2.067660,1.823249,0.260623,-0.502556,1.090112,-0.490576,-1.142105,...,-0.113361,-0.411819,0.006180,0.681210,-0.286224,-0.412347,-0.663629,-0.134151,9.35,0
2001,1545.0,-0.693979,0.863780,1.782080,-0.621203,-0.034457,-0.556248,0.704357,0.061961,-0.290994,...,-0.124982,-0.122718,-0.158336,0.590370,-0.014215,0.344616,0.284906,0.157360,5.00,0
2002,1545.0,-1.739979,1.107891,0.591365,-0.767648,0.060833,-0.427431,0.248729,0.476310,0.611437,...,-0.343057,-0.602356,0.039468,-0.582638,0.300574,0.456637,0.323645,0.152760,5.00,0

Concatenating two DataFrames

In [532]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [533]:
new_dataset.head()
new_dataset.tail()
new_dataset['Class'].value_counts()
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,96224.725610,0.002366,0.075517,0.023714,0.059047,0.104433,-0.050490,0.010652,-0.029354,-0.001286,...,-0.083836,-0.045855,0.051065,0.001702,-0.029183,0.014025,0.010112,0.008844,-0.028621,64.140305
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Splitting the data into Features & Targets

In [534]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [535]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
117840   74838.0  1.135858 -0.106367  1.001555  0.693739 -0.942031 -0.478576
131278   79541.0 -1.089192  1.033084  1.142932  0.272566  1.303121 -0.979236
246887  153375.0  0.128395  0.968289 -0.423312 -0.536925  0.853749 -0.762438
280607  169640.0 -0.415778  0.712262  0.690968 -0.793964 -0.239076 -0.661871
220254  142089.0 -0.952154  1.532240 -0.172828 -0.338676 -0.689891 -1.764746
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
117840 -0.483896  0.122364  0.551814  ... -0.191440 -0.045742 -0.182796
131278  0.796023  0.014980 -0.767905  ...  0.004609  0.047749  0.019093
246887  0.944355 -0.051844  0.045173  ... -0.015664 -0.338852 -0.862364
280607  0.098162  0.353882  0.512907  ... -0.297192  0.415782  1.302367
220254  0.312567  0.591175 -0.263847  ... -0.158450 -0.148905 -0.446523
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
117840  0.168180  0.371522 -0.004614  0.226501 -0.000106  0.025449   17.02
131278 -0.342555 -0.066300  0.648471 -0.382973  0.054331  0.104612    1.00
246887  0.126679  0.526144 -0.456979  0.118541  0.219085  0.082937   10.02
280607  0.009938  0.023410 -1.003457 -0.508615  0.178509  0.203135    9.99
220254  0.283782  0.923558 -0.509051  0.092122  0.117019  0.026486    9.99
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [536]:
print(Y)

117840    0
131278    0
246887    0
280607    0
220254    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Split the data into Training data & Testing Data

In [537]:
X.shape

(984, 30)

In [538]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [539]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

Model Training

Logistic Regression

In [540]:
model = LogisticRegression()

In [541]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

Accuracy Score

In [542]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

print('Accuracy on Training data : ', training_data_accuracy)

# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy on Training data :  0.951715374841169
Accuracy score on Test Data :  0.934010152284264

In [543]:
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.datasets import make_classification
# import sklearn
# temp_dataset = pd.concat([legit, fraud], axis=0)
# X_temp = temp_dataset.drop(columns='Class', axis=1)
# Y_temp = temp_dataset['Class']

# X, y = make_classification(n_samples=5000, n_features=2, n_informative=2,
#                                             n_redundant=0, n_repeated=0, n_classes=2,
#                                             n_clusters_per_class=1,
#                                             weights=[0.95, 0.05],
#                                             class_sep=0.5, random_state=0)

# dataset_df = pd.DataFrame({'X1':X_temp[:,0],'X2':X_temp[:,1], 'Y':Y_temp})

In [544]:
#10 runs preperation using dimensionality reduction, tested and it showed no change in the F1 and accuricy
from sklearn.decomposition import PCA

legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

temp_dataset = pd.concat([legit, fraud], axis=0)
X_temp = temp_dataset.drop(columns='Class', axis=1)
Y_temp = temp_dataset['Class']

# Initialize PCA and fit the data
pca = PCA(n_components=2)
X_reduced = pca.fit_transform(X_temp)

# Print the explained variance ratio for each principal component
print(pca.explained_variance_ratio_)

# Create a new dataframe with the reduced features
df_reduced = pd.DataFrame(X_reduced, columns=['PC1', 'PC2'])

# Add the target variable back to the dataframe
df_reduced['Class'] = Y_temp

legit = df_reduced[df_reduced.Class == 0]
fraud = df_reduced[df_reduced.Class == 1]

[9.99972249e-01 2.77382192e-05]

In [545]:
#10 runs 
from sklearn import ensemble

from sklearn.metrics import classification_report
from sklearn.utils import shuffle
from sklearn.ensemble import RandomForestClassifier  # Include
from sklearn.naive_bayes import GaussianNB   # Include
from sklearn.svm import SVC                      # Include
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier

model = LogisticRegression()     # Include
# model = RandomForestClassifier(n_estimators=100)
#model = GaussianNB()
#model = SVC(kernel='linear', C=1.0)
#model = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1, max_depth=6)

for i in range(1, 11):
  legit_new_sample = legit.sample(n=492)

  new_dataset = pd.concat([legit_new_sample, fraud], axis=0)
  X_new = new_dataset.drop(columns='Class', axis=1)
  Y_new = new_dataset['Class']

  X_train_new, X_test_new, Y_train_new, Y_test_new = train_test_split(X_new, Y_new, test_size=0.2, stratify=Y, random_state=2)

  model.fit(X_train_new, Y_train_new)
  # accuracy on training data
  X_train_prediction_new = model.predict(X_train_new)
  training_data_accuracy_new = accuracy_score(X_train_prediction_new, Y_train_new)

  print('Accuracy on Training data : ', training_data_accuracy_new)

  # accuracy on test data
  X_test_prediction_new = model.predict(X_test_new)
  test_data_accuracy_new = accuracy_score(X_test_prediction_new, Y_test_new)

  print(classification_report(X_test_prediction_new,Y_test_new))

Accuracy on Training data :  0.5743329097839899
              precision    recall  f1-score   support

           0       0.47      0.57      0.52        82
           1       0.64      0.55      0.59       115

    accuracy                           0.56       197
   macro avg       0.56      0.56      0.56       197
weighted avg       0.57      0.56      0.56       197

Accuracy on Training data :  0.5667090216010165
              precision    recall  f1-score   support

           0       0.42      0.55      0.48        76
           1       0.65      0.53      0.58       121

    accuracy                           0.54       197
   macro avg       0.54      0.54      0.53       197
weighted avg       0.56      0.54      0.54       197

Accuracy on Training data :  0.5476493011435832
              precision    recall  f1-score   support

           0       0.40      0.53      0.46        76
           1       0.63      0.51      0.57       121

    accuracy                           0.52       197
   macro avg       0.52      0.52      0.51       197
weighted avg       0.54      0.52      0.52       197

Accuracy on Training data :  0.5336721728081322
              precision    recall  f1-score   support

           0       0.53      0.55      0.54        94
           1       0.57      0.54      0.56       103

    accuracy                           0.55       197
   macro avg       0.55      0.55      0.55       197
weighted avg       0.55      0.55      0.55       197

Accuracy on Training data :  0.5476493011435832
              precision    recall  f1-score   support

           0       0.57      0.62      0.59        91
           1       0.64      0.59      0.62       106

    accuracy                           0.60       197
   macro avg       0.60      0.60      0.60       197
weighted avg       0.61      0.60      0.60       197

Accuracy on Training data :  0.5489199491740788
              precision    recall  f1-score   support

           0       0.54      0.60      0.57        88
           1       0.64      0.58      0.61       109

    accuracy                           0.59       197
   macro avg       0.59      0.59      0.59       197
weighted avg       0.59      0.59      0.59       197

Accuracy on Training data :  0.5489199491740788
              precision    recall  f1-score   support

           0       0.41      0.52      0.46        79
           1       0.61      0.51      0.56       118

    accuracy                           0.51       197
   macro avg       0.51      0.51      0.51       197
weighted avg       0.53      0.51      0.52       197

Accuracy on Training data :  0.5717916137229987
              precision    recall  f1-score   support

           0       0.47      0.57      0.52        82
           1       0.64      0.55      0.59       115

    accuracy                           0.56       197
   macro avg       0.56      0.56      0.56       197
weighted avg       0.57      0.56      0.56       197

Accuracy on Training data :  0.5209656925031766
              precision    recall  f1-score   support

           0       0.44      0.54      0.49        82
           1       0.61      0.52      0.56       115

    accuracy                           0.53       197
   macro avg       0.53      0.53      0.52       197
weighted avg       0.54      0.53      0.53       197

Accuracy on Training data :  0.5552731893265566
              precision    recall  f1-score   support

           0       0.52      0.59      0.55        86
           1       0.64      0.57      0.60       111

    accuracy                           0.58       197
   macro avg       0.58      0.58      0.58       197
weighted avg       0.59      0.58      0.58       197

In [546]:
# 10 Flods
# from sklearn.model_selection import KFold
# import numpy as np

# # Define the number of folds
# num_folds = 10


# # Generate some example data
# X = credit_card_data.drop(columns='Class', axis=1).values
# y = credit_card_data['Class'].values

# # Create a KFold object to split the data
# kf = KFold(n_splits=num_folds, shuffle=True)

# # Iterate over each fold
# for fold, (train_index, test_index) in enumerate(kf.split(X)):
#     # Get the training and testing data for this fold
#     X_train, X_test = X[train_index], X[test_index]
#     y_train, y_test = y[train_index], y[test_index]
    
#     # Train your model on the training data
#     model.fit(X_train, y_train)
    
#     # Test your model on the testing data
#     accuracy = model.score(X_test, y_test)
    
#     # Print out the accuracy for this fold
#     print(f"Fold {fold+1}: accuracy = {accuracy}")

In [547]:
from sklearn.metrics import classification_report

print(classification_report(X_test_prediction,Y_test))

              precision    recall  f1-score   support

           0       0.96      0.91      0.94       104
           1       0.91      0.96      0.93        93

    accuracy                           0.93       197
   macro avg       0.93      0.94      0.93       197
weighted avg       0.94      0.93      0.93       197

In [548]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

print('Accuracy on Training data : ', training_data_accuracy)

# accuracy on test data
X_test_prediction = model.predict(legit_test.drop(columns='Class', axis=1))
test_data_accuracy = accuracy_score(X_test_prediction, legit_test['Class'])

print('Accuracy score on Test Data : ', test_data_accuracy)



import matplotlib.pyplot as plt
import numpy
from sklearn import metrics

actual = legit_test['Class']
predicted = X_test_prediction

confusion_matrix = metrics.confusion_matrix(actual, predicted)

cm_display = metrics.ConfusionMatrixDisplay(confusion_matrix = confusion_matrix, display_labels = [False, True])

cm_display.plot()
plt.show()

# X1 = legit_test.drop(columns='Class', axis=1)
# Y1 = legit_test['Class']

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Amount
- Time
- V1
- V10
- V11
- ...
Feature names seen at fit time, yet now missing:
- PC1
- PC2

  warnings.warn(message, FutureWarning)

ValueError: ignored

In [ ]:
#calculate F1 score on imbalanced dataset
from sklearn.metrics import classification_report

print(classification_report(actual,predicted))